/* new CSS style sheet */

body {

    /* background-color: rgb(195, 255, 205); */
    background-image: url("../assets/dog.jpg");
}

.is-ancestor {
    margin: 10px!important;
}

/* #dogImage {
    height: 200px;
} */